<h1>All Baristas</h1>

<% @baristas.each do |barista| %>
	<div class="div"><h3><a href="/baristas/<%= barista.id%>"><%= barista.name%></a></h3>
	<p>Full time: <%= barista.full_time%></p>
	<p>Hours Worked: <%= barista.hours_worked%></p>
<% end %>