<h1>Coffeeshops</h1>
<% @coffeeshops.each do |coffeeshop| %>
<h3><p><%= coffeeshop.name %></p></h3>
<p>Capacity: <%= coffeeshop.capacity %></p>
<p>Outdoor Seating: <%= coffeeshop.outdoor_seating %></p>
<% end %>