<h1>Coffeeshops</h1>
<% @coffeeshops.each do |coffeeshop| %>
<div class="div"><h3><a href="/coffeeshops/<%= coffeeshop.id%>"><%= coffeeshop.name%></a></h3>
	<p>Created: <%= coffeeshop.created_at.strftime("%m/%d/%Y %I:%M %p")%></p>
<% end %>